{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
       <div class="jumbotron">
            <h1 class="display-3">Bienvenu sur SymBNB!</h1>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel voluptas nobis soluta doloremque odit velit optio incidunt cum accusamus, s</p>
            <hr class="my-4">
            <p>aepe, distinctio ad modi, rem praesentium tempora ipsam omnis eaque dignissimos.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">voir plus</a>
            </p>
        </div>
        <h2 class="mt-3">Nos appartement favories</h2>
       <div class="row mt-3 mb-3">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header text-center">
                        <h4> 3 chambres <strong>45&dollar; / nuit</strong></h4>
                        <small>pas encore noté </small>
                    </div>
                    <img src="https://cdn.pixabay.com/photo/2016/06/24/10/47/architecture-1477041_960_720.jpg" class="card-image" style="width:100%; heigth:200px display:block">
                    <div class="card-body">
                        <h3 class="card-title"> Appartement côte d'azur </h3>
                        <div class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                             Cupiditate officia, quae possimus laboriosam quis facili
                             s pariatur sunt iste. Repellat dicta minus voluptate 
                            aspernatur fuga animi ad eveniet laborum modi aperiam?
                        </div>
                        <div class="text-center">
                            <a class="btn btn-primary">En savoir plus</a>    
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header text-center">
                        <h4> 3 chambres <strong>45&dollar; / nuit</strong></h4>
                        <small>pas encore noté </small>
                    </div>
                    <img src="https://cdn.pixabay.com/photo/2016/06/24/10/47/architecture-1477041_960_720.jpg" class="card-image" style="width:100%; heigth:200px display:block">
                    <div class="card-body">
                        <h3 class="card-title"> Appartement côte d'azur </h3>
                        <div class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                             Cupiditate officia, quae possimus laboriosam quis facili
                             s pariatur sunt iste. Repellat dicta minus voluptate 
                            aspernatur fuga animi ad eveniet laborum modi aperiam?
                        </div>
                        <div class="text-center">
                            <a class="btn btn-primary">En savoir plus</a>    
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header text-center">
                        <h4> 3 chambres <strong>45&dollar; / nuit</strong></h4>
                        <small>pas encore noté </small>
                    </div>
                    <img src="https://cdn.pixabay.com/photo/2016/06/24/10/47/architecture-1477041_960_720.jpg" class="card-image" style="width:100%; heigth:200px display:block">
                    <div class="card-body">
                        <h3 class="card-title"> Appartement côte d'azur </h3>
                        <div class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                             Cupiditate officia, quae possimus laboriosam quis facili
                             s pariatur sunt iste. Repellat dicta minus voluptate 
                            aspernatur fuga animi ad eveniet laborum modi aperiam?
                        </div>
                        <div class="text-center">
                            <a class="btn btn-primary">En savoir plus</a>    
                        </div>
                    </div>
                </div>
            </div>
       </div> 
       <h2 class="mt-3">Nos propriétaires favoris</h2>
        <div class="row mt-3 mb-3">
            <div class="col-md-6">
                <div class="card p-3">
                    <h3 class="card-title">Benjamin Franklin</h3>
                    <div class="row">
                        <img class="col-md-2" src="https://cdn.pixabay.com/photo/2013/07/13/10/07/man-156584_960_720.png" style="heigth:50px">
                        <div class="col-md-10">Lorem ipsum dolor sit amet consectetur adipisicing elit. A, provident nobis. Perspiciatis voluptatibus minima esse iusto minus! Et a, </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card p-3">
                    <h3 class="card-title">Benjamin Franklin</h3>
                    <div class="row">
                        <img class="col-md-2" src="https://cdn.pixabay.com/photo/2013/07/13/10/07/man-156584_960_720.png" style="heigth:50px">
                        <div class="col-md-10">Lorem ipsum dolor sit amet consectetur adipisicing elit. A, provident nobis. Perspiciatis voluptatibus minima esse iusto minus! Et a, </div>
                    </div>
                </div>
            </div>
       </div>
    </div>
{% endblock %}
