{% extends 'base.html.twig' %}

{% block title %} 
    Nouvelle   Annonce 
{% endblock %}

{% form_theme form 'ad/_collection.html.twig' %}
{% block body %}
    <div class="container mt-3">
        <h1>Ajouter une nouvelle Annonce</h1>
        {{ form_start(form) }}

        {{ form_widget(form)}}


        <button class="btn btn-primary" type="submit">Ajouter l'annonce</button>

        {{ form_end(form) }}
    </div>


{% endblock %}




{% block javascripts %}
<script src="/js/ad.js"></script>
{% endblock %}